.is-disabled {
    pointer-events: none;
}

.is-marginless {
    margin: 0 !important;
}

.is-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    display: inline-block;
    height: 32px;
    position: relative;
    vertical-align: top;
}

.select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #222324;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 24px;
    padding: 3px 8px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    display: block;
    outline: none;
    padding-right: 36px;
}

.select select:hover {
    border-color: #aeb1b5;
}

.select select:active, .select select:focus {
    border-color: #1fc8db;
    outline: 0;
}

.select select[disabled], .select select[disabled]:hover {
    background: #f5f7fa;
    border-color: #d3d6db;
}

.select select[disabled]::-moz-placeholder, .select select[disabled]:hover::-moz-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select[disabled]::-webkit-input-placeholder, .select select[disabled]:hover::-webkit-input-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select[disabled]:-moz-placeholder, .select select[disabled]:hover:-moz-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select[disabled]:-ms-input-placeholder, .select select[disabled]:hover:-ms-input-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select:hover {
    border-color: #aeb1b5;
}

.select select::ms-expand {
    display: none;
}

.select:after {
    border: 1px solid #1fc8db;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 7px;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 7px;
    margin-top: -6px;
    right: 16px;
    top: 50%;
}

.select:hover:after {
    border-color: #222324;
}

.control {
    position: relative;
    text-align: left;
}

.control.is-loading:after {
    position: absolute !important;
    right: 8px;
    top: 8px;
}

.control:not(:last-child) {
    margin-bottom: 10px;
}

.control.is-withicon .fa {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    width: 20px;
    color: #aeb1b5;
    left: 6px;
    pointer-events: none;
    position: absolute;
    top: 6px;
    z-index: 1;
}

.control.is-withicon .input, .control.is-withicon .textarea {
    padding-left: 32px;
}

.control.is-withicon .input:focus + .fa, .control.is-withicon .textarea:focus + .fa {
    color: #1fc8db;
}

.control.is-horizontal {
    display: flex;
}

.control.is-horizontal > .button:not(:last-child),
.control.is-horizontal > .input:not(:last-child),
.control.is-horizontal > .textarea:not(:last-child),
.control.is-horizontal > .select:not(:last-child) {
    margin-right: 10px;
}

.control.is-horizontal > .input, .control.is-horizontal > .textarea {
    flex: 1;
}

.control.is-grouped {
    display: flex;
}

.control.is-grouped .input, .control.is-grouped .textarea,
.control.is-grouped .button,
.control.is-grouped .select {
    border-radius: 0;
    margin-right: -1px;
}

.control.is-grouped .input:hover, .control.is-grouped .textarea:hover,
.control.is-grouped .button:hover,
.control.is-grouped .select:hover {
    z-index: 2;
}

.control.is-grouped .input:active, .control.is-grouped .textarea:active, .control.is-grouped .input:focus, .control.is-grouped .textarea:focus,
.control.is-grouped .button:active,
.control.is-grouped .button:focus,
.control.is-grouped .select:active,
.control.is-grouped .select:focus {
    z-index: 3;
}

.control.is-grouped .input:first-child, .control.is-grouped .textarea:first-child,
.control.is-grouped .button:first-child,
.control.is-grouped .select:first-child {
    border-radius: 3px 0 0 3px;
}

.control.is-grouped .input:first-child select, .control.is-grouped .textarea:first-child select,
.control.is-grouped .button:first-child select,
.control.is-grouped .select:first-child select {
    border-radius: 3px 0 0 3px;
}

.control.is-grouped .input:last-child, .control.is-grouped .textarea:last-child,
.control.is-grouped .button:last-child,
.control.is-grouped .select:last-child {
    border-radius: 0 3px 3px 0;
}

.control.is-grouped.is-centered {
    justify-content: center;
}